@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
/*Header*/
body,
ul {
  margin: 0px;
  padding: 0px;
  background-color: #bfbaca99;
}
.logo-1 {
  width: 52px;
  margin-top:10px;
}

a.a-header {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-family: "Euclid Circular A", "Poppins";
}

a.a-header:hover {
  background-color: #bfbaca99;
  border-radius: 10px;
  color: black;
}

#header {
  position:fixed;
  box-sizing: border-box;
  height: 70px;
  width:100vw;
  margin-top:-50px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #172940;
}

#menu {
  display: flex;
  list-style: none;
  gap: 0.5rem;
  background: #172940;
}

#menu a {
  display: block;
  padding: 1rem;
}

#btn-mobile {
  display: none;
}

@media (max-width: 600px) {
  #btn-mobile {
    display: block;
  }

  #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0px;
    background: #172940;
    height: 0px;
    transition: 0.6s;
    z-index: 1000;
    visibility: hidden;
    overflow-y: hidden;
  }

  #nav.active #menu {
    height: calc(60vh - 70px);
    visibility: visible;
    overflow-y: auto;
    background: #172940;
  }

  #menu a {
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 1px solid gray;
  }

  #btn-mobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
  }

  #hamburger {
    border-top: 2px solid;
    width: 20px;
    color: aliceblue;
  }

  #hamburger::after {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    position: relative;
  }

  #hamburger::before {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }

  #nav.active #hamburger {
    border-top-color: transparent;
  }

  #nav.active #hamburger::before {
    transform: rotate(135deg);
  }

  #nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }
}

/*Main*/
main{
  padding-top:30px;
  font-family:"Euclid Circular A", "Poppins";
}
.contain {
  margin: 40px;
  text-align: center;
}
.img-src {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.img-src img {
  width: 550px;
}

@media (max-width: 580px) {
  .img-src img {
    width: 350px;
  }
}

@media (max-width: 380px) {
  .img-src img {
    width: 250px;
  }
}

/*Footer*/

section {
  position: "relative";
  left: 0;
  bottom: 0;
  width: 100%;
  background: #172940;
  padding-top: 60px;
}
footer {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  margin: 0 30px;
  color: #a2b5cd;
  font-family: "Euclid Circular A", "Poppins";
}

footer.top {
  border-bottom: 2px solid #3a4f6a;
  padding-bottom: 10px;
}

img {
  width: 162px;
  margin: 0px 6px 0px -12px;
}

footer.top .links {
  display: grid;
  grid-auto-columns: repeat(2, 1fr);
  gap: 30px;
}

footer.bottom {
  padding: 20px 0;
  justify-content: space-between;
}

footer.top .links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.links > div {
  display: grid;
  gap: 10px;
  margin-bottom: 30px;
}

footer h2 {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  color: #f7f7f7;
}

footer .legal {
  font-size: 12px;
}

footer .legal a {
  margin: 0 4px;
}

footer .legal span {
  margin-right: 10px;
}

footer.bottom .links {
  display: flex;
  gap: 18px;
}

@media (width < 620px) {
  footer {
    flex-direction: column;
  }

  footer.bottom {
    gap: 16px;
    flex-direction: column-reverse;
  }
}

@media (width >= 620px) {
  footer {
    margin: 0 auto;
    max-width: 600px;
    padding: 0;
  }
}

footer.bottom .links {
  font-size: 24px;
}

@media (width < 420px) {
  footer {
    text-align: center;
    align-items: center;
  }

  footer.top .links {
    grid-template-columns: 1fr;
  }

  footer.bottom {
    align-items: center;
  }

  footer .legal span {
    margin-right: 0;
    margin-bottom: 2px;
  }
}
